<header id="header" class="header d-flex align-items-center light-background sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="/user/home" class="logo d-flex align-items-center me-auto me-xl-0">
        <h1 class="sitename">Aliabbas</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/user/home" class="<%= currentPath === '/user/home' ? 'active' : '' %>">Home</a></li>
          <li><a href="/user/about" class="<%= currentPath === '/user/about' ? 'active' : '' %>">About</a></li>
          <li><a href="/user/resume" class="<%= currentPath === '/user/resume' ? 'active' : '' %>">Resume</a></li>
          <li><a href="/user/projects" class="<%= currentPath === '/user/projects' ? 'active' : '' %>">Projects</a></li>
          <li><a href="/user/journey" class="<%= currentPath === '/user/journey' ? 'active' : '' %>">Journey</a></li>
          <li><a href="/user/contact" class="<%= currentPath === '/user/contact' ? 'active' : '' %>">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <div class="header-social-links">
        <a href="https://wa.me/+917041389236" target="_blank"><i class="bi bi-whatsapp"></i></a>
        <a href="mailto:aliabbasbhaisaheb22@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
        <a href="https://www.instagram.com/aliabbasbhaisaheb/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/aliabbas-bhaisaheb-b188a2252?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BzV6quGxJQ8mvsuqJVEHEzw%3D%3D" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header>
